*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  background-color: #111111; }

body {
  font-weight: 400;
  line-height: 1.7rem; }

.composition {
  position: relative;
  margin: 5rem; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rba(#111111, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    @media (max-width: 56.25em) {
      .composition__photo {
        position: relative; } }
    .composition__photo--p1 {
      left: -5rem;
      top: 20rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0;
          transform: scale(1); } }
    .composition__photo--p2 {
      right: 5em;
      top: 27rem; }
      @media (max-width: 75em) {
        .composition__photo--p2 {
          top: 40em;
          right: 0; } }
      @media (max-width: 56.25em) {
        .composition__photo--p2 {
          right: 0;
          width: 100%;
          bottom: 0; } }
      @media (max-width: 37.5em) {
        .composition__photo--p2 {
          right: 0;
          width: 100%;
          bottom: 0; } }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem;
      width: 50rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 0;
          left: 0;
          transform: scale(1); } }
    .composition__photo--p4 {
      left: 20%;
      top: 10rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p4 {
          top: 0;
          left: 0;
          transform: scale(1); } }
    .composition__photo:hover {
      outline: 1.5rem solid #111111;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rba(#111111, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.footer {
  height: 10rem;
  background-color: #111111; }
  .footer p {
    color: #F7F4F4;
    text-align: center;
    font-size: 2em;
    margin-top: 3.5em;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase; }

.header h1.welcome {
  text-transform: uppercase;
  color: #F7F4F4;
  font-size: 15em;
  transform: rotate(-30deg);
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 100; }

.navigation {
  position: absolute; }
  @media (max-width: 37.5em) {
    .navigation {
      position: relative; } }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 60;
    text-align: center;
    cursor: pointer; }
    @media (max-width: 37.5em) {
      .navigation__button {
        top: 2em;
        right: 2em; } }
  .navigation__background {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(#111111, #111111);
    z-index: 50;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 55;
    opacity: 0;
    width: 0;
    transition: all .8s; }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }
    @media (max-width: 37.5em) {
      .navigation__list {
        position: relative;
        left: 10%; } }
  .navigation__item {
    margin: 1rem;
    color: #F7F4F4; }
  .navigation__link {
    color: #F7F4F4; }
    .navigation__link:link, .navigation__link:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: #F7F4F4;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #F7F4F4 50%);
      background-size: 220%;
      transition: all .4s; }
    .navigation__link:hover, .navigation__link:active {
      background-position: 100%;
      color: #111111;
      transform: translateX(1rem); }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }

@keyframes spin {
  100% {
    transform: rotate(360deg); } }
  .navigation__icon {
    font-size: 5em;
    color: #F7F4F4; }
    .navigation__icon:hover i {
      animation: spin 3s infinite; }
  .navigation__button:hover .navigation__icon:before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon:after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon:before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon:after {
    top: 0;
    transform: rotate(-135deg); }

.logo p {
  font-family: 'Quicksand', sans-serif;
  font-size: 3em;
  position: fixed;
  font-weight: 100;
  top: 0;
  left: 0;
  color: #F7F4F4;
  z-index: 10;
  margin: 7.5rem; }
  @media (max-width: 37.5em) {
    .logo p {
      margin: 4rem; } }

.photo_cover {
  background-size: cover;
  background-position: top;
  position: relative;
  width: 100%; }

.firstset {
  margin: 5rem 15rem;
  background: #F7F4F4;
  height: 80rem; }
  @media (max-width: 56.25em) {
    .firstset {
      height: 70rem;
      margin: 0; } }

span.quote p {
  font-family: 'Reenie Beanie', cursive;
  font-size: 2.4em;
  position: absolute;
  color: #F7F4F4; }

span.quote1 p {
  bottom: 10rem;
  right: 14rem; }
  @media (max-width: 56.25em) {
    span.quote1 p {
      bottom: 50rem;
      left: 4rem; } }
  @media (max-width: 37.5em) {
    span.quote1 p {
      top: 24rem;
      left: 4rem; } }

span.tsquote p {
  color: #111111;
  top: 2em; }

.second_set img {
  background-size: cover;
  background-position: top;
  position: relative;
  width: 100%; }

.third_set img {
  background-size: cover;
  background-position: top;
  position: relative;
  width: 100%; }

.rose_set {
  height: 80rem;
  margin: 3rem 10rem; }
  @media (max-width: 56.25em) {
    .rose_set {
      height: 50rem;
      margin: 2rem;
      bottom: 50rem;
      left: 4rem; } }
  @media (max-width: 37.5em) {
    .rose_set {
      height: 30rem;
      margin: 2rem;
      top: 24rem;
      left: 4rem; } }
  .rose_set img {
    background-size: cover;
    background-position: top;
    width: 50%; }
  .rose_set .rose {
    position: absolute;
    width: 25%; }

.filter1 {
  margin-top: 20%; }
  @media (max-width: 75em) {
    .filter1 {
      display: none; } }
  @media (max-width: 56.25em) {
    .filter1 {
      display: none; } }
  @media (max-width: 37.5em) {
    .filter1 {
      display: none; } }

.filter2 {
  right: 60rem;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  margin-top: 5%; }

.filter3 {
  right: 50rem;
  -webkit-filter: contrast(200%);
  filter: contrast(200%);
  margin-top: 10%; }

.filter4 {
  right: 40rem;
  -webkit-filter: drop-shadow(8px 8px 10px gray);
  filter: drop-shadow(8px 8px 10px gray);
  margin-top: 15%; }

.filter5 {
  right: 30rem;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  margin-top: 20%; }

.filter6 {
  right: 20rem;
  -webkit-filter: hue-rotate(90deg);
  filter: hue-rotate(90deg);
  margin-top: 25%; }

.filter7 {
  right: 10rem;
  -webkit-filter: saturate(8);
  filter: saturate(8);
  margin-top: 30%; }

.filter8 {
  right: 1rem;
  -webkit-filter: sepia(100%);
  filter: sepia(100%);
  margin-top: 35%; }

.daisy img {
  background-size: cover;
  background-position: top;
  position: relative;
  width: 100%; }

.three_mix {
  height: 90rem; }
  @media (max-width: 56.25em) {
    .three_mix {
      height: 200rem; } }
  @media (max-width: 37.5em) {
    .three_mix {
      height: 200rem; } }
  .three_mix img {
    position: relative;
    width: 40rem; }
  .three_mix .row {
    position: absolute; }
    @media (max-width: 56.25em) {
      .three_mix .row {
        position: relative; } }
    @media (max-width: 37.5em) {
      .three_mix .row {
        position: relative; } }
  .three_mix .row1 {
    right: 5em; }
  .three_mix .row2 {
    left: 0;
    margin-top: 16%; }
  .three_mix .row3 {
    right: 10em;
    margin-top: 30%; }

.melflower {
  height: 55rem; }
  @media (max-width: 56.25em) {
    .melflower {
      margin-left: 50%; } }
  .melflower img {
    width: 30%; }
    @media (max-width: 56.25em) {
      .melflower img {
        width: 100%; } }
    @media (max-width: 37.5em) {
      .melflower img {
        width: 100%; } }

.melflower1 {
  width: 30%; }

.peacockopen img {
  width: 50%; }

.peacockopen .open1 {
  float: right; }

.mel {
  height: 50rem; }

.tilt {
  transform: rotate(90deg);
  position: relative;
  width: 30%;
  margin-left: 2rem; }

.mel1 {
  margin-top: 10rem; }

.london {
  transform: rotate(180deg);
  width: 60%;
  padding: 3%; }
